---
import SearchIcon from "@/icons/SearchIcon.astro";
---

<div>
  <SearchIcon />
  <input />
</div>

<style>
  div {
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #ffffff;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    width: fit-content;
    height: fit-content;
    margin: 1rem;
  }
  input {
    border: none;
    width: 200px;
  }
</style>
