---
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <Header />
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
    --primary: #914aeb;
    --primary-50: #f9f6fe;
    --primary-100: #f2e9fe;
    --primary-200: #e6d8fc;
    --primary-300: #d3b8fa;
    --primary-400: #b88bf5;
    --primary-500: #914aeb;
    --primary-600: #873edf;
    --primary-700: #722cc4;
    --primary-800: #6229a0;
    --primary-900: #502281;
    --primary-950: #340d5e;
    --text-light: #ffffff;
    --text-dark: #0a0a0a;
  }
  html {
    font-family: system-ui, sans-serif;
    background: #d1d0f534;
    -webkit-font-smoothing: antialiased;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  header {
    height: 300px;
    background: linear-gradient(
      0deg,
      hsl(202deg, 71%, 90%),
      hsl(204deg, 67%, 85%)
    );
  }
</style>
